.card-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.card-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 300ms,
    transform 300ms;
}

.card-exit {
  opacity: 1;
  transform: translateY(0);
}

.card-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity 300ms,
    transform 300ms;
}

.search-container {
  position: relative;
  min-height: 50px;
}

.search-card {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  margin-bottom: 1rem;
  transform: translateY(0);
  position: relative;
  z-index: 1;
}

.search-card.hide .card-body {
  display: none;
}

.search-card.show .card-body {
  display: block;
}
